/*Reseteo CSS*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

/*Body*/
body {
    font-family: 'Saira Condensed', sans-serif;
    background-image: radial-gradient(circle, #ffeb69, #ffe858, #ffe445, #ffe12e, #ffdd00);
}

/*Header*/
.logo-container {
    height: 4%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border: 0;
}


header{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffdd00;
    font-size: x-large;
}

/*Seccion 1*/
.banner {
    width: 100%;

}

.banner__img {
    width: 100%;


}

.servicios {
    display: grid;

}

.w-100 {
    width: 100% !important;
    height: 500px;
}

.border {
    border: 1px solid #000000 !important;
    padding-top: 100px;

}

.servicios .border {
    padding: 100px;
    background-color: #000000;
    text-align: center;
    border: 1px solid black;
    box-shadow: #424242 5px 5px 8px;
}

section#img1 {
    background-image: url(../imagenes/Acc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: #ffde59;
    text-indent: 600;
    background-color: #000000;
    text-align: center;
}

section#img2 {
    background-image: url(../imagenes/rep.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

section#img3 {
    background-image: url(../imagenes/Maq1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (min-width: 200px) and (max-width:604px) {
    .w-100 {
        width: 100% !important;
        height: 180px;
    }
    .titulofooter {
        font-size: 45px;
        text-align: center;
    }
    
    .servicios {
        display: flex;
        flex-direction: column;
        background-color: #000000;
        margin-top: 10px;
    }

    .Marcas {
        text-align: center
    }
}

@media screen and (min-width:605px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: 1fr;
        background-color: #000000;
        height: 20vh;
        margin-top: 6px;



    }

    .servicios .border {
        padding: 100px;
        background-color: #000000;
        text-align: center;
        border: 1px solid black;
        margin-top: 5px;
    }

    section#img1 {
        background-image: url(../imagenes/Acc.jpg);
        background-position: center;
        background-repeat: no-repeat;
        color: #ffde59;
        text-indent: 600;
        background-color: #000000;
        text-align: center;
    }

    section#img2 {
        background-image: url(../imagenes/rep.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }

    section#img3 {
        background-image: url(../imagenes/Maq1.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }
}

/*Seccion 2*/
.Marcas {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: xx-large;


}

.contenedor-de-imagenes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    align-items: center;
    justify-items: center;

}




.boton3 {
    background-color: #000000;
    border-radius: 4px;
    color: #ffde59;
    padding: 5px 10px;
    text-align: right;
    font-size: 15px;
    cursor: pointer;
}

.boton3:hover {
    color: #000000;
    background-color: #ffdd00;
}

/*Footer*/
footer {


    position: relative;

}

hr {
    height: 2px;
    background-color: black;


}

.informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;

}

.direccion {
    font-size: 20px;
}

.titulofooter {
    font-size: 45px;

}

.derechos {
    display: flex;
    justify-content: center;
}

.logoinstagram {
    width: 40px;

}

.logofacebook {
    width: 40px;

}

.redes {
    display: flex;
    justify-content: right;
}

.mapa {
    display: block;
    text-align: right;
    width: 100%;
}

iframe {
    border-radius: 5px;
    padding-right: 0px;
    box-shadow: #1e1e1b 2px 5px 7px;
    width: 50%;
    display: block;
}


.horarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: e;
    font-size: 25px;
}


.contactanos-index {
    display: flex;
    size: 10%;
}

.redes {
    display: flex;
}

.seguinos {
    display: flex;
    font-size: larger;
    justify-content: right;
}

.preguntas {
    padding-top: 10px;
    display: block;
    text-align: center;
    line-height: 50px;
    color: #ffde59;
    background-color: black;
    font-size: large;
}

.contactopreg {
    display: block;
    text-align: center;

}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0%;
    font-size: large;
    line-height: 40px;
}

.foto_negocio {
    width: 100%;
    text-indent: 10px;
    display: block;
    position: relative;
    bottom: 50px;
    left: 50px;

}

/*Contacto*/
fieldset {
    min-width: 0;
    padding: 10px;
    margin: 0px;
    border: 0;
    background-color: beige;
}

.nombre {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(82, 79, 79);
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 600;

}

.apellido {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(82, 79, 79);
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 600;

}

.email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(82, 79, 79);
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 600;

}

input:hover {
    background-color: #f8ed4e;
}


textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(82, 79, 79);
    border-radius: 4px;
    box-sizing: border-box;
}

.NewsLetter {
    padding-top: 5px;
}

.mandar {
    width: 100%;
    background-color: #ffde59;
    color: black;
    padding: 15px 20px;
    margin: 8px 0;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

.borrar {
    width: 100%;
    background-color: #ffde59;
    color: black;
    padding: 15px 20px;
    margin: 8px 0;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;

}

.contenedor-contacto {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 1);

}

fieldset legend {
    display: block;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    text-shadow: 2px 5px 6px #ffde59;
}

.nombre:focus,
.apellido:focus,
.email:focus,

textarea {
    outline: none;
}

/*ShowRoom*/
.grid {
    display: grid;
    background-color: rgb(255, 255, 255);
    height: 100vh;



}

.grid .border { 
    background-color: antiquewhite;
    text-align: center;
    border: 1px solid black;
    color: rgb(20, 19, 19);

}

section#Inicio {
    background-image: url(../imagenes/HD\ wallpaper_\ sewing\ machine\,\ old\,\ vintage\,\ antique\,\ needle\,\ craft\,\ tailoring.jpeg);
    background-size: cover;
    background-position: center;
}

section#Productos {

    background-image: url(../imagenes/london-g7f158879b_1920.jpg);
    background-size: cover;
}

section#Servicios {

    background-image: url(../imagenes/portobello-778864_1920.jpg);
    background-size: cover;
    background-position: center;
}

section#Nosotros {

    background-image: url(../imagenes/sewing-machine-g1f1dea16d_1920.jpg);
    background-size: cover;
    background-position: center;
}

section#Footer {

    background-image: url(../imagenes/pexels-los-muertos-crew-7998338.jpg);
    background-size: cover;
    background-position: center;

}

@media only screen and (min-width:320px) and (max-width:479px) {
    .grid {
        grid-template-rows: repeat(4, 167px);

    }
}

@media only screen and (min-width:480px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 200px);

    }

    section#Footer {
        grid-column: 1/3;
    }
}

@media only screen and (min-width:600px) and (max-width:767px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    section#Footer {
        grid-column: 1/4;
        grid-row: 4/5;
    }

    section#Nosotros {
        grid-column: 1/4;
        grid-row: 3/4;
    }

    section#Inicio {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    section#Productos {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    section#Servicios {
        grid-column: 3/4;
        grid-row: 1/3;
    }

}


@media only screen and (min-width:768px) {
    .grid {
        grid-template-rows: repeat(3 1fr);
        grid-template-columns: repeat(4, 1fr);
    }

    section#Inicio {
        grid-column: 1/3;
        grid-row: 1/3;
        background-image: url(../imagenes/pexels-wallace-chuck-2973392.jpg);
        background-size: cover;
        background-position: center;
    }

    section#Productos {
        grid-column: 5/3;
        grid-row: 1/2;
        background-image: url(../imagenes/london-g7f158879b_1920.jpg);
        background-size: cover;
    }

    section#Servicios {
        grid-column: 3/5;
        grid-row: 1/3;
        background-image: url(../imagenes/portobello-778864_1920.jpg);
        background-size: cover;
        background-position: center;
    }

    section#Nosotros {
        grid-column: 1/3;
        grid-row: 3/5;
        background-image: url(../imagenes/sewing-machine-g1f1dea16d_1920.jpg);
        background-size: cover;
        background-position: center;
    }

    section#Footer {
        grid-column: 3/5;
        grid-row: 3/5;
        background-image: url(../imagenes/pexels-los-muertos-crew-7998338.jpg);
        background-size: cover;
        background-position: center;
    }
}