@media screen and (min-width: 200px) and (max-width:604px) {
    .w-100 {
        width: 100% !important;
        height: 200px;
        
    }
    .titulofooter {
        font-size: 45px;
        text-align: center;
    }
    
    .servicios {
        display: flex;
        flex-direction: column;
        background-color: $color2;
        margin-top: 10px;
    }

    .Marcas {
        text-align: center
    }
    .redes {
        display: flex;
        justify-content: center;
    }
    
}



@media screen and (min-width:200px) and (max-width:360px){
    .seguinos h5{
        display: none;
    }
    .redes {
        display: flex;
        justify-content: center;
    }
    
}


@media screen and (min-width:605px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: 1fr;
        background-color: $color2;
        height: 20vh;
        margin-top: 6px;
        .border {
            padding: 100px;
            background-color: $color2;
            text-align: center;
            border: 1px solid $color2;
            margin-top: 5px;
        }
    }
    section#img1 {
        background-image: url(../Img_Avif/Acc.avif);
        background-position: center;
        background-repeat: no-repeat;
        color: $color1;
        text-indent: 600;
        background-color: $color2;
        text-align: center;
    }
    section#img2 {
        background-image: url(../Img_Avif/rep.avif);
        background-position: center;
        background-repeat: no-repeat;
    }
    section#img3 {
        background-image: url(../Img_Avif/Maq1.avif);
        background-position: center;
        background-repeat: no-repeat;
    }
}


@media only screen and (min-width:320px) and (max-width:479px) {
    .grid {
        grid-template-rows: repeat(4, 167px);
    }
    
}

@media only screen and (min-width:480px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 200px);
    }

    section#Footer {
        grid-column: 1/3;
    }
}

@media only screen and (min-width:600px) and (max-width:767px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    section#Footer {
        grid-column: 1/4;
        grid-row: 4/5;
    }

    section#Nosotros {
        grid-column: 1/4;
        grid-row: 3/4;
    }

    section#Inicio {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    section#Productos {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    section#Servicios {
        grid-column: 3/4;
        grid-row: 1/3;
    }

}
@media only screen and (min-width:768px) {
    .grid {
        grid-template-rows: repeat(3 1fr);
        grid-template-columns: repeat(4, 1fr);
    }

    section#Inicio {
        grid-column: 1/3;
        grid-row: 1/3;
        background-image: url(../Img_Avif/pexels-wallace-chuck-2973392.avif);
        background-size: cover;
        background-position: center;
    }

    section#Productos {
        grid-column: 5/3;
        grid-row: 1/2;
        background-image: url(../imagenes/hilos.jpg);
        background-size: cover;
    }

    section#Servicios {
        grid-column: 3/5;
        grid-row: 1/3;
        background-image: url(../Img_Avif/portobello-778864_1920.avif);
        background-size: cover;
        background-position: center;
    }

    section#Nosotros {
        grid-column: 1/3;
        grid-row: 3/5;
        background-image: url(../Img_Avif/sewing-machine-g1f1dea16d_1920.avif);
        background-size: cover;
        background-position: center;
    }

    section#Footer {
        grid-column: 3/5;
        grid-row: 3/5;
        background-image: url(../Img_Avif/pexels-los-muertos-crew-7998338.avif);
        background-size: cover;
        background-position: center;
    }
}
