//Pagina Contacto
@mixin contacto ($dis, $box-sz, $w, $fnt-w, $pd, $mg) {
    display:  $dis;
    box-sizing: $box-sz;
    width: $w;
    font-weight: $fnt-w;
    padding: $pd;
    margin: $mg;
}

fieldset {
    min-width: 0;
    padding: 10px;
    margin: 0px;
    border: 0;
    background-color: beige;
    .nombre{
        @include contacto(inline-block, border-box , 100%, 600, 12px 20px, 8px 0 );
        border: 1px solid rgb(82, 79, 79);
        border-radius: 4px;
    }
    .apellido{
        @include contacto(inline-block, border-box , 100%, 600, 12px 20px, 8px 0 );
        border: 1px solid rgb(82, 79, 79);
        border-radius: 4px;
    }
    .email{
        @include contacto(inline-block, border-box , 100%, 600, 12px 20px, 8px 0 );
    border: 1px solid rgb(82, 79, 79);
    border-radius: 4px;
    }
    input:hover {
        background-color: #f8ed4e;
    }
    textarea {
        @include contacto(inline-block, border-box , 100%, 600, 12px 20px, 8px 0 );
    border: 1px solid rgb(82, 79, 79);
    border-radius: 4px;
    }
    .NewsLetter {
        padding-top: 5px;
    }
    @mixin Confirmacion ($cl, $bd-style, $cur, $back-c, $wd, $pd, $mrg, $bd-r, $fnt-w) {
        color: $cl;
        border-style: $bd-style;
        cursor: $cur;
        background-color: $back-c;
        width: $wd;
        padding: $pd;
        margin: $mrg;
        border-radius: $bd-r;
        font-weight: $fnt-w;
    }
    .mandar{
        @include Confirmacion(black, none, pointer, #ffde59, 100%, 15px 20px,8px 0,4px,600)
    }
    .borrar {
        @include Confirmacion(black, none, pointer, #ffde59, 100%, 15px 20px,8px 0,4px,600)
    }
    legend {
        display: block;
        width: 100%;
        text-align: center;
        font-size: xx-large;
        text-shadow: 2px 5px 6px #ffde59;
    }
    textarea {
        outline: none;
    }
}