//Variables SaaS//
$color1: #ffeb69;
$color2: #000000;
$color3: #ffdd00;
$color4: #ffde59;
$colorhover: #ffaa00;
$fuente:'Saira Condensed', sans-serif;;;

//Particiones//
@import '@medias';
@import 'contacto';

//Maps//
$display:(
    d1: flex,
    d2: grid,
    d3: block,
);

//Reseteo CSS//
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
//Body//
body {
    font-family: $fuente;
    background-color: #ffaa00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffb100' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffb800' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffbe00' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffc500' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffcc00' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffd914' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffe529' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffef3d' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fff852' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffff66' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    
}
//Header//
$d1: map-get($display, d1);

header {
    background-color: $color2;
    display: $d1;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
    .navbar-dark .navbar-nav .nav-link {
        color: $color3;
        font-size: x-large;
        text-align: center;
    }
    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: #fbe9b1;
        
    }
    .navbar-dark .navbar-toggler {
        color: rgba(255,255,255,.55);
        border-color: rgba(255,255,255,.1);
        height: 50px;
    }
}
//Seccion 1
.w-100 {
    width: 100% !important;
    
}

$d2: map-get($display, d2);

.servicios {
    display: $d2;
    .border{
    padding: 100px;
    background-color: $color2;
    text-align: center;
    border: 1px solid $color2 !important;
    box-shadow: #424242 5px 5px 8px;
    padding-top: 100px;
    }
}

section#img1 {
    background-image: url(../imagenes/Acc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: $color1;
    text-indent: 600;
    background-color: $color2;
    text-align: center;
}
section#img2 {
    background-image: url(../imagenes/rep.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
section#img3 {
    background-image: url(../imagenes/Maq1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
//Seccion 2
$d1: map-get($display, d1);

.Marcas {
    padding-top: 50px;
    display: $d1;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: xx-large;
}
$d2: map-get($display, d2);

.contenedor-de-imagenes {
    display: $d2;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    align-items: center;
    justify-items: center;
}
//Footer
footer {
    position: relative;
    hr {
        background-color: $color2;
    }

    $d1: map-get($display, d1);

    .informacion {
        display: $d1;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        .titulofooter {
            font-size: 45px;
            .direccion {
                font-size: 20px;
            }
        }
    }
}

$d3: map-get($display, d3);

.mapa {
    display: $d3;
    text-align: right;
    width: 100%;
}
$d1: map-get($display, d1);

.redes{
    display: $d1;
    justify-content: right;
}

$d1: map-get($display, d1);

.derechos {
    display: $d1;
    justify-content: center;
}


$d1: map-get($display, d1);

.mapa{
    display: $d1;
    justify-content: center;
    height: 500px;
    margin-right: 20px;
    padding: 50px;
    iframe{
        width: 100%;
        box-shadow: #1e1e1b 2px 5px 7px;
        filter: drop-shadow(8px 8px 10px gray);
        border-radius: 8px;
    }
}
$d1: map-get($display, d1);

.horarios {
    display: $d1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
    
}
$d1: map-get($display, d1);

.contactanos-index {
    display: $d1;
    size: 10%;
}


//ShowRoom
$d2: map-get($display, d2);

.grid {
    display: $d2;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    .border { 
        background-color: antiquewhite;
        text-align: center;
        border: 1px solid black;
        color: rgb(20, 19, 19);
    }
}
@mixin background($bk-s, $bk-p, $bk-img) {
    background-size: $bk-s;
    background-position: $bk-p;
    background-image: $bk-img
}
section#Inicio {
    @include background(cover, center, url(../imagenes/hilos.jpg))
}
section#Productos {
    @include background(cover, center, url(../imagenes/london-g7f158879b_1920.jpg))
}
section#Servicios {
    @include background(cover, center, url(../imagenes/HD\ wallpaper_\ sewing\ machine\,\ old\,\ vintage\,\ antique\,\ needle\,\ craft\,\ tailoring.webp))
}
    
section#Nosotros {
    @include background(cover, center, url(../imagenes/pexels-los-muertos-crew-7998338.webp))
}
section#Footer {
    @include background(cover, center, url(../imagenes/portobello-778864_1920.webp))
}

//Pagina Preguntas Frecuentes
$d3: map-get($display, d3);

.preguntas {
    padding-top: 10px;
    display: $d3;
    text-align: center;
    line-height: 50px;
    color: $color3;
    background-color: $color2;
    font-size: large;
    padding-bottom: 40px;
}
$d3: map-get($display, d3);

.contactopreg {
    display: $d3;
    text-align: center;
}
//Pagina Nosotros
$d2: map-get($display, d2);

.about{
    display: $d2;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-size: x-large;
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
    
}
$d1: map-get($display, d1);

.contactanos{
    display: $d1;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    h3{
        font-size: 40px;
        text-align: center;
        
        
    }
}
//Botones
.boton{
    display: inline-block;
    color: $color3;
    text-decoration: none;
    padding: 10px 10px;
    border: 3px solid $color4;
    border-radius: 10px;
    background-color: #000000;
}

.boton:hover{
    animation: pulsate 1s ease-in-out;
}
@keyframes pulsate{
    0%{
        box-shadow: 
        0 0 25px $color3,
        0 0 50px $color2
    }
}

.botonFinalizar_carrito{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 9px;
    margin-bottom: 10px;
    background-color: $color2;
    color: $color3;
    border-radius: 9px;
}

